.addsale {
    text-align: center;
    margin: 20px;
}

.page-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.page-container h1 {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #28a745;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.page-container p {
    font-size: 18px;
    text-align: center;
    color: #888;
}

.addsale-btn {
    background-color: #28a745;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

.addsale-btn:hover {
    background-color: #218838;
}